{% load static %}
<!-- Комментарии -->
<section class="my-5">
    {% if comments %}<div class="card-header border-0 font-weight-bold">Комментарии:</div>{% endif %}
{% for comment in comments %}

<div class="media d-block d-md-flex mt-4">
    <img class="card-img-64 d-flex mx-auto mb-3" src="{% static 'avatar.png' %}"
      alt="Generic placeholder image">
    <div class="media-body text-center text-md-left ml-md-3 ml-0">
        <h5 class="font-weight-bold mt-0">
        <a
            href="{% url 'profile' comment.author.username %}"
            name="comment_{{ item.id }}"
            >{{ comment.author.username }}</a>
        </h5>
        {{ comment.text|linebreaks }}
    </div>
</div>

{% endfor %}
</section>

<section class="my-5">
<!-- Форма добавления комментария -->
{% load user_filters %}

{% if user.is_authenticated %} 
<div class="card-header border-0 font-weight-bold">Добавить комментарий:</div>

<form
    action="{% url 'add_comment' post.author.username post.id %}"
    method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="d-md-flex flex-md-fill mt-4 px-1">
        <div class="d-flex justify-content-center mr-md-5">
          <img class="card-img-100 z-depth-1 rounded-circle mb-4" src="{% static 'orig.gif' %}"
            alt="avatar">
        </div>
        {{ form.text|addclass:"form-control pl-3 pt-3"}}
    </div>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary btn-md">Отправить</button>
        </div>

</form>

{% endif %}
</section>